body.bingo-toolie {
	background-color: white;
}

h1 {
	text-align: center;
	font-family: 'Arial', sans-serif;
}

#title {
	text-align: center;
	padding-top: 5px;
	padding-bottom: 10px;
}

textarea {
	font-size: 18px;
}

form {
	padding: 10px;
}
label {
	padding: 2px;
	font-family: 'Arial', sans-serif;
}

/* Counters */
.quantity {
	position: relative;
	width: 100%;
	margin-bottom: 0px;
	margin-left: 10px;

}

.quantity input[type=number] {
	-moz-appearance: textfield;
}

.quantity input {
	width: 50px;
	text-align: center;
	padding: 0px;
	padding-left: 0px; /* use this if input is not centered */
	margin-bottom: 10px;
	font-weight: normal;
	font-size: 24px;
}

.quantity input:focus {
	outline: 0;
}

.quantity-button {
	cursor: pointer;
	border: solid 1px solid #eee;
	border-radius: 100%;
	width: 30px; /* previously 26px */
	text-align: center;
	color: black;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
	font-weight: bold;
	font-size: 28px;
}

.quantity-button:hover {
	background-color: #9a9a9a;
}

.quantity-button.quantity-up,
.quantity-button.quantity-down,
.quantity input {
	border: solid 1px grey;
	display: inline-block;
	height: 50px; /* previously 42px ... this has to be 2px more than the one below */
	line-height: 50px; /* previously 40px */
}

.quantity input {
	border-radius: 10px;
}

.quantity-button.quantity-up {
	/*border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;*/
	border: none;

}

.quantity-button.quantity-down {
	float: left;
	/*border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;*/
	border: none;

}

.icon {
	float: left;
	padding-right: 25px;
}

/* CSS Grid */

div.wrapper {
	position: absolute;
  display: grid;
  grid-template-columns: repeat(3, 9fr);
  grid-gap: 5px;
  grid-auto-rows: minmax(auto, auto);
	padding: 10px;
	border: solid 2px Black;
	border-radius: 5px;
	background-color: LightGrey;
}

div.counter {
  padding: 4px;
}
div #title {
	grid-column: 1 / span 2;
  grid-row: 1;
}
div #glowbo {
  grid-column: 1;
  grid-row: 2;
}
div #honeycomb {
  grid-column: 1;
  grid-row: 3;
}
div #hive {
  grid-column: 2;
  grid-row: 2;
}
div #minjo {
  grid-column: 2;
  grid-row: 3;
}
div #cheato-page {
  grid-column: 1;
  grid-row: 4;
}
div #treble {
  grid-column: 1;
  grid-row: 5;
}
div #mumbo-pad {
  grid-column: 2;
  grid-row: 4;
}
div #boss {
  grid-column: 2;
  grid-row: 5;
}
div #train {
  grid-column: 1;
  grid-row: 6;
}
div #egg {
  grid-column: 2;
  grid-row: 6;
}
div #text-box {
	grid-column: 1 / span 2;
  grid-row: 7;
}
div #clear-button {
	grid-column: 1;
  grid-row: 8;
}

div #move-list {
	grid-column: 3;
	grid-row: 1 / span 8;
	font-size: 15px;
}
