body.home {
  background-color: white;
  margin-left: 15%;
  margin-right: 15%;
  font-family: "OpenSans", Helvetica, sans-serif;
  font-size: 1em;
}

body {
  background-color: white;
  margin-left: 24%;
  margin-right: 24%;
  font-family: "OpenSans", Helvetica, sans-serif;
  font-size: .95em;
}

hr {
border: 0;
height: 2px;
background: #333;
background-image: -webkit-linear-gradient(left, #ccc, #333, #ccc);
background-image: -moz-linear-gradient(left, #ccc, #333, #ccc);
background-image: -ms-linear-gradient(left, #ccc, #333, #ccc);
background-image: -o-linear-gradient(left, #ccc, #333, #ccc);
}

.tab {
  margin-left: 40px;
}

.panelname {
  font-family: "Charter", Times, serif;
  font-weight: bold;
  font-size: 1.2em;
}

.panelsection {
  font-family: "Charter", Times, serif;
  font-weight: bold;
}

.title {
  font-family: "Charter", Times, serif;
  font-weight: bold;
}

#levelname {
  font-size: 250%;
}


.section {
  font-family: "Charter", Times, serif;
  font-weight: bold;
  font-size: 1.6em;
}

.trick {
  font-size: 1.2em;
}

a:link {
  color: Black;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: Black;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  font-size: 100%;
  color: white;
  background-color: DarkSlateGrey;
  text-decoration: none;
  border-radius: 3px;
}

a:active {
  color: LightGrey;
  background-color: transparent;
  text-decoration: none;
  border-radius: 3px;
}

ul {
  list-style: none;
}

#trick-list-section {
  font-weight: bold;
  margin-bottom: 10px;
  margin-top: 10px;
}

div.navwrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 15px;
  grid-auto-rows: minmax(auto, auto);
}

div.navbox {
  grid-column: 1;
  grid-row: 1;
  border: 1px solid;
  border-radius: 5px;
  padding: 2px;
  background-color: FloralWhite;
}

div.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 2fr);
  grid-gap: 15px;
  grid-auto-rows: minmax(auto, auto);
}

div.panel {
  border: 2px solid;
  padding: 4px;
  background-color: #D8D8D8;
  border-radius: 20px;
}


div.bk {
  grid-column: 2;
  grid-row: 1;
  background-color: #fd9598;
}

div.bt {
  grid-column: 3;
  grid-row: 1;
  background-color: #88a7ea;
}

div.gr {
  grid-column: 1;
  grid-row: 2;
  background-color: #BB77BB;
}

div.bp {
  grid-column: 2;
  grid-row: 2;
  background-color: #81D8D0;
}

div.nb {
  grid-column: 3;
  grid-row: 2;
  background-color: #E4D2BA;
}

div.info {
  grid-column: 1;
  grid-row: 1;
  background-color: #ffeeb4;
}

@font-face {
    font-family: 'OpenSans';
    src: './Fonts/OpenSans-Regular.ttf');
}

@font-face {
    font-family: 'OpenSans';
    src: './Fonts/OpenSans-Regular.ttf');
    font-weight: bold;
}

@font-face {
    font-family: 'SourceSerifPro';
    src: './Fonts/SourceSerifPro-Regular.ttf');
}

@font-face {
    font-family: 'SourceSerifPro';
    src: './Fonts/SourceSerifPro-Bold.ttf');
    font-weight: bold;
}

@font-face {
    font-family: 'Charter';
    src: './Fonts/charter_regular-webfont.ttf');
}

@font-face {
    font-family: 'Charter';
    src: './Fonts/charter_bold-webfont.ttf');
    font-weight: bold;
}


.logo {
  /* centering */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

/* Add a black background color to the top navigation */
.topnav {
  background-color: white;
  overflow: hidden;

  /* Navbox centering */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: black;
  text-align: center;
  padding: 6px 20px;
  text-decoration: none;
  font-size: 19px;
  font-family: 'Charter', serif;
  font-weight: bold;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: DarkSlateGrey;
  color: white;
  border-radius: 3px;
}
