body {
  background-color: white;
  margin-left: 20%;
  margin-right: 20%;
  font-family: "OpenSans", Helvetica, sans-serif;
  font-size: 0.875em;
}

.panelname {
  font-family: "SourceSerifPro", Times, serif;
  font-size: 1.2em;
}

.title {
  font-family: "SourceSerifPro", Times, serif;
}

.section {
  font-family: Georgia, Times, serif;
  font-size: 1.4em;
}

.trick {
  font-size: 1.2em;
}

a:link {
  color: #2F65F9;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: #311C90;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  font-size: 100%;
  background-color: AliceBlue;
  text-decoration: none;
  border-radius: 3px;
}

a:active {
  color: #FAFA69;
  background-color: transparent;
  text-decoration: none;
}

div.navwrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 15px;
  grid-auto-rows: minmax(auto, auto);
}

div.navbox {
  grid-column: 1;
  grid-row: 1;
  border: 1px solid;
  padding: 3px;
  background-color: #D8D8D8;
}

div.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 2fr);
  grid-gap: 15px;
  grid-auto-rows: minmax(auto, auto);
}

div.panel {
  border: 2.75px solid;
  padding: 4px;
  background-color: #D8D8D8;
  border-radius: 20px;
}


div.bk {
  grid-column: 1;
  grid-row: 1;
  background-color: Salmon;
}

div.bt {
  grid-column: 2;
  grid-row: 1;
  background-color: SkyBlue;
}

div.gr {
  grid-column: 1;
  grid-row: 2;
}

div.bp {
  grid-column: 2;
  grid-row: 2;
}

div.nb {
  grid-column: 3;
  grid-row: 2;
}

div.info {
  grid-column: 3;
  grid-row: 1;
  background-color: LightGreen;
}

@font-face {
    font-family: 'OpenSans'; /*a name to be used later*/
    src: './Fonts/OpenSans-Regular.ttf'); /*URL to font*/
}

@font-face {
    font-family: 'SourceSerifPro'; /*a name to be used later*/
    src: './Fonts/SourceSerifPro-Regular.ttf'); /*URL to font*/
}
